
*,
html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}
body{
  background-color: white;
}

/* nab */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #353433;
    color: white;
    width: 100%;
}

.search-bar input {
    padding: 10px;
    width: 500px;
}

.menu-icon{
    font-size: 30px;
    color: white;
    padding: 10px;
}
.menu-icon a{
    text-decoration: none;
    color: white;
}


/* content */


.slider {
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 100%;
  display: block;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2em;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

/* content end */

/* cards */
.navigation{
  display: flex;
  justify-content: center;
  margin: 20px 20% 30px;
  padding: 10px;
}


.navigation a{
  padding: 8px 15px;
  border-radius: 15px;
  text-decoration: none;
  margin: 10px;
  background-color: rgb(58, 110, 213);
  color: rgb(255, 255, 255);
  /* box-shadow: 0 6px 10px rgb(110, 110, 110); */
  border: 1px solid rgb(0, 0, 0);
}
.navigation a:hover{
  background-color: tomato;
  color: white;
}
.all-book{
  display: flex;
  overflow: auto;
}
.all-book::-webkit-scrollbar{
  display: none;
}
.box{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.exp{
  text-align: center;
  width: 80%;
}

.card{
  padding: 10px;
  min-width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-item{
  width: 20%;
  border-radius: 10px;
  border: 1px solid rgb(201, 201, 201);
  transition: 1S;
  margin: 10px;
}
.card-item a{
  text-decoration: none;
  color: black;
}

.card-item:hover{
  box-shadow: 0 6px 15px rgb(99, 99, 99);
  border: 2px solid red;
}

.ci-jpg{
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}

.artikel{
  text-align: center;
  align-items: center;
}

.artikel-a{
  padding: 10px;
  text-align: center;
}
.tombol-a a{
  text-decoration: none;
  color: white;
}
.tombol{
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(94, 94, 254); 
  border-radius: 10px;
}
.tombol-a{
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(94, 94, 254); 
  border-radius: 10px;
}
.tombol a{
  text-decoration: none;
  color: white;
}

.title{
  line-height: 1.6;
  margin-top: 20px;
}

/* cards end */

/* poster */




/* footer */

footer{
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(41, 40, 40);
  color: white;
}

/* footer end */

/* responsive */

@media (max-width: 600px){
    /* nav */
    .search-bar input {
        padding: 10px;
        width: 100%;
        flex-wrap: nowrap;
    }
  /* card */
  .navigation{
     justify-content: space-around;
    margin: 0;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .navigation::-webkit-scrollbar{
    display: none;
  }
  .navigation a{
    margin: 5px;
  }
  .ci-jpg{
    height: 150px;
    border-radius: 0px;
  }
  .card{
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
  }
  .card-item{
    border-radius: 0px;
    margin: 10px;
    min-width: 40%;
    overflow: auto;
  }
  
  .tombol-a{
   margin: 5px;
   margin-top: 30px;
  }
  .poster{
    width: auto;
    /* height: 200px; */
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(48, 55, 55);
    display: none;
  }
  .diskon-png{
    width: 100%;
  }

  .judul-class {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    display: block;
  }

  .class-free {
    display: flex;
    overflow: scroll;
    justify-content: space-around;
    padding: 10px;
  }

  .class-free::-webkit-scrollbar {
    background-color: white;
  }

  .class {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c686.684C126.424%2c662.303%2c163.054%2c491.827%2c272.633%2c424.226C385.571%2c354.553%2c574.163%2c407.539%2c639.609%2c292.1C703.559%2c179.302%2c590.364%2c45.409%2c558.682%2c-80.326C530.776%2c-191.074%2c524.618%2c-305.403%2c464.572%2c-402.554C397.111%2c-511.703%2c321.555%2c-641.158%2c195.923%2c-667.253C70.252%2c-693.356%2c-35.782%2c-576.296%2c-156.052%2c-531.466C-265.596%2c-490.634%2c-390.957%2c-491.825%2c-479.503%2c-415.492C-574.513%2c-333.587%2c-663.222%2c-220.634%2c-662.122%2c-95.199C-661.036%2c28.654%2c-528.322%2c105.159%2c-473.96%2c216.45C-421.616%2c323.611%2c-434.434%2c460.257%2c-349.771%2c544.255C-258.558%2c634.751%2c-126.164%2c711.015%2c0%2c686.684' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 886.818C1499.039 875.434 1541.217 828.624 1590.49 794.167 1637.576 761.24 1700.872 742.255 1722.719 689.114 1744.461 636.227 1710.213 578.919 1702.26 522.293 1694.274 465.435 1702.002 406.738 1675.879 355.60900000000004 1645.348 295.851 1609.217 219.29199999999997 1542.746 210.07999999999998 1474.261 200.58800000000002 1434.428 295.771 1367.433 312.861 1296.202 331.03200000000004 1211.018 266.926 1151.385 309.914 1093.858 351.384 1103.394 439.959 1093.674 510.206 1084.004 580.09 1066.693 652.934 1094.978 717.566 1123.426 782.5699999999999 1183.234 829.1610000000001 1246.938 860.4110000000001 1306.458 889.6089999999999 1374.903 899.37 1440 886.818' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    width: auto;
    text-align: center;
    display: flex;
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(168, 168, 168);
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
  }
  .class a{
    text-decoration: none;
  }

  .name-class {
    color: rgb(255, 255, 255);
    margin: 10px;
  }
  .minicor-jpg{
    width: 100%;
  }
  .course-on{
    width: 90%;
    margin: 10% auto;
  }
  .revou {
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50%;
  }
}


@media (max-width: 219px){
.card-item{
  width: 100%;
}
}

@media (max-width: 291px){
  .navigation a {
    flex-direction: column;
  }
}

@media (max-width: 210px){
  body{
    display: none;
  }
}


@media (min-width: 600px){
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
  }
  .slide img {
    width: 100%;
    height: 500px;
    display: block;
  }
  .diskon-png{
    display: none;
 }
 .judul-class{
  display: none;
 }
 .class{
  display: none;
 }
 .class-free{
  display: none;
 }
 .minicor-jpg{
  display: none;
 }
 #ilang{
  display: none;
}
}
